Q1 What is a database? Differentiate between SQL and NoSQL databases.

A DAtabase is a stuctured collection of data that is organized and stored in a way that allows for efficient retrieval, management and manipulation of the data. It serves as a central repository for storing and managing information, making it easier to access and analyze data for various purposes.

SQL databases are relational databases that store data in tables with predefined schemas. They use structured query language (SQL) to define and manipulate the data. No SQL databases, on the other hand, are non-relational databases that allow for more flexible data models. They can store data in variouus formats, such as key-value pairs, documents, graphs, or wide-column stores.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for 'Data defination language'. It is a subset of SQL used to define and modify the structure of objects in a database. DDL commands are used to create, alter, and drop database objects such as tables, indexes, views, and schemas.

1. CREATE- The CREATE command is aDDL command used to create new databases objects, such as tables, indexes, views, or schemas.

CREATE TABLE Employee (
    EmployeeId INTEGER PRIMARY KEY,
    FirstName CHAR(50) NULL,
    LastName CHAR(75) NOT NULL
);

2. DROP- The DROP command used to remove or delete existing databses objects from the database.

DROP TABLE Employee;

3. ALTER- The ALTER command is used to modify the structure of an existing database object.

ALTER TABLE Employee ADD Age INTEGER;

4. TRUNCATE- The TRUNCATE command is often mistakenly considered a DDL command, but it is actually a DML (Data Manipulation Language) command. However, it is worth mentioning here as it is commonly used in database operations.

The TRUNCATE command is often mistakenly considered a DDL command, but it is actually a DML (Data Manipulation Language) command. However, it is worth mentioning here as it is commonly used in database operations

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for 'Data manipulation Language'. It is a subset of SQL used to manipulate and modify tahe data stored in database.

INSERT command is used to insert new records into a table. It allows you to add one more rows of data to a table.
UPDATE is used to modify existing records in a table. It allows you to change the values of one or more columns in one ore more rows os a table.


INSERT INTO Employee (EmployeeId, FirstName, LastName)
VALUES (1, 'John', 'Doe');


DELETE FROM Employee
WHERE EmployeeId = 1;


DELETE command is used to remove records from a table.

DELETE FROM Employee
WHERE EmployeeId = 1;

Q4. What is DQL? Explain SELECT with an example.

DQL stands for 'Data Query Language'. It is a subset of SQL used to retrieve and query data from a database. DQL commands are primarily focused on retrieving data and do not modify the structure of the database.

SELECT command is used to retriev data from one or more tables in a database. It allows you to specify the columns you want to retrieve, apply filters, perform calculation and sort the result set.

Q5. Explain Primary Key and Foreign Key.

A Primary Key is a column or a set of columns in a database table that uniquely identifies each record in that table. It ensures the uniqueness and integrity of the data within the table.

A Foreign Key is a column or a group of columns in a database table that establishes a link between data in two tables. It references the primary key of another table, creating a relationship between the two tables.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="yourdatabase"
)

mycursor=mydb.cursor()

mucursor.execute("SELECT * FROM your_table")

results=mycursor.fetchall()

for row in results:
    print(row)
    
mydb.close()

Q7. Give the order of execution of SQL clauses in an SQL query.

The order of execution of SQL clauses in an SQL query can vary slightly depending on the specific database management system (DBMS) being used. However, there is a general logical order that most DBMS follow. Here is the typical order of execution for SQL clauses:
FROM/JOIN-WHERE-GROUP BY-HAVING-SELECT-DISTINCT-ORDER BY-LIMIT/OFFSET